captainVersion: 4
services:
    $$cap_appname:
        image: $$cap_image_repo:$$cap_version
        volumes:
            - $$cap_appname-config:/etc/prometheus
            - $$cap_appname-data:/prometheus
        caproverExtra:
            containerHttpPort: '9090'

caproverOneClickApp:
    variables:
        - id: '$$cap_image_repo'
          label: Image repository
          defaultValue: 'prom/prometheus'
          description: |
              Default official multi-arch image. For 32-bit ARM, you may use prom/prometheus-linux-armv7.
          validRegex: '/^[a-z0-9._\\/\\-]+$/i'
        - id: '$$cap_version'
          label: Prometheus Docker tag
          defaultValue: 'v3.5.0'
          description: |
              Use a concrete tag, not "latest". v3.5.0 is an LTS release. See release notes and tags.
          validRegex: /^v?\d+\.\d+\.\d+.*$/
    instructions:
        start: |-
            This installs Prometheus. Data is stored in a persistent volume at /prometheus.
        end: |-
            Prometheus is deployed at http://$$cap_appname.$$cap_root_domain
    displayName: Prometheus
    isOfficial: true
    description: Systems and service monitoring
    documentation: https://prometheus.io/docs/prometheus/latest/installation/
